<div ng-if="isDefined(editing) && isUndefined(__rs)">
	<form name="{{form.Name}}" role="form">
		<div ng-include="template('fields-btns')" class="form-group"></div>
		<hr/>
		<div ng-repeat="field in form.Fields">
			<field-control field="field" record="editing"></field-control>
		</div>
		<div class="row"></div>
		<hr/>
		<div ng-include="template('fields-btns')" class="form-group"></div>
	</form>

	<a ng-show="!showJson" ng-click="showJson = true">显示实时数据</a>
	<br>
	<div ng-show="showJson">
		<h4><a ng-click="showJson = false">隐藏实时数据:</a></h4>
		<pre>{{ editing | json }}</pre>
	</div>
</div>