<ng-include src="template('navbar')"></ng-include>
<div class="col-md-2">
	form结构信息
	<div ng-if="candidates.length" ui-tree="mfsTreeOptions" data-max-depth="1">
		<ol ui-tree-nodes="" ng-model="candidates" class="list-group">
			<li ng-repeat="r in candidates" ui-tree-node ng-class="{'active':(record.Name==r.Name)}" class="list-group-item list-group-item-warning">
				<span ng-bind="r.Name"></span>
				<button data-nodrag type="button" class="pull-right btn-info btn-xs" tooltip="已此为模板编辑" ng-click="copyFromForm(r)">
					<i class="fa fa-copy"> </i>
				</button>
			</li>
		</ol>
	</div>
</div>
<div class="col-md-5">
	操作的数据
	<a ng-click="removeUnexpected()" class="btn btn-warning"><i class="fa fa-warning"> </i> 一键删除全部多余Field</a>
	<ng-include src="template('controllers')"></ng-include>
	<ng-include src="template('form-json')"></ng-include>
</div>
<div ng-include="template('fields')"  class="col-md-5"></div>