<nav class="navbar navbar-inverse" role="navigation">
    <ul class="nav navbar-nav">
        <li>
            <a ng-click="load()">重载列表</a>
        </li>
        <li>
            <a ng-click="recovery()">重建数据库</a>
        </li>
        <li>
            <a ng-click="migrate()">安全更新数据库</a>
        </li>
    </ul>
</nav>

<div class="col-md-3">
    <div ng-show="rs" class="list-group">
        <a ng-class="{active:editing.isNew}" ng-click="edit(newRecord())" class="list-group-item"><i class="fa fa-plus-circle">
        </i> 新建</a>
        <a ng-class="{active:(record==r)}" ng-repeat="r in rs" ng-click="edit(r)" class="list-group-item"><span ng-bind="r.Name"></span></a>
    </div>
    <pagination ng-show="rs" ng-change="load()" total-items="pager.totalItems" ng-model="pager.currentPage" items-per-page="pager.itemsPerPage" max-size="pager.maxSize" class="pager-sm" 
        boundary-links="true" rotate="false" num-pages="numPages" previous-text="‹" next-text="›" first-text="«" last-text="»"></pagination>
</div>

<div ng-if="isDefined(editing)" class="col-md-9">
    <form name="myForm" role="form">
        <div ng-repeat="field in form.Fields">
            <field-directive field="field" record="editing"></field-directive>
        </div>
        <div class="form-group">
            <button ng-click="save()" ng-disabled="myForm.$invalid" type="button" class="btn btn-success">
                <i class="glyphicon glyphicon-ok-circle">
                </i>
                <span ng-show="editing.isNew">新建</span>
                <span ng-hide="editing.isNew">保存</span>
            </button>
            <button ng-click="reset()" type="button" class="btn btn-primary">
                <i class="glyphicon glyphicon-repeat">
                </i>
                重置
            </button>
            <button ng-click="remove()" ng-disabled="editing.isNew" type="button" class="btn btn-danger">
                <i class="glyphicon glyphicon-remove-circle">
                </i>
                删除
            </button>
        </div>
    </form>

    <div style="width: 100%;height: 80px">
        <alert ng-show="alert" type="{{alert.type}}" close="alert=false">
            {{alert.msg}}
        </alert>
    </div>

    <a ng-show="!showJson" ng-click="showJson = true">显示实时数据</a>
    <br>
    <div ng-show="showJson">
        <h4>实时数据:<a ng-click="showJson = false">隐藏</a></h4>
        <pre>{{ editing | json }}</pre>
    </div>
</div>

<hr>
<a ng-show="!showForm" ng-click="showForm = true">显示表单元数据</a>
<br>
<br>
<div ng-show="showForm">
    <h4>表单元数据:<a ng-click="showForm = false">隐藏</a></h4>
    <pre>{{ form | json }}</pre>
</div>