<ng-include src="template('navbar')"></ng-include>
<div class="col-md-5">
	<a ng-class="{active:isUndefined(editing.Id)}" ng-click="edit()"> <i class="fa fa-plus-circle"> </i> 新建</a>
	<a ng-if="!__rs" ng-click="startBatch()" class="btn btn-info"> 批量位置操作</a>
	<a ng-if="__rs" ng-click="saveBatch()" class="btn btn-warning"> 批量保存位置(与非拖动操作冲突)</a>
	<a ng-if="__rs" ng-click="cancelBatch()" class="btn btn-warning"> 取消批量拖动</a>
	<ng-include ng-if="!__rs" src="template('list-nodes')"></ng-include>
	<ng-include ng-if="__rs" src="template('list-nodes-drag')"></ng-include>
	<ng-include src="template('pagination')"></ng-include>

	<hr>
	<a ng-show="!showForm" ng-click="showForm = true">显示表单元数据</a>
	<br>
	<br>
	<div ng-show="showForm">
		<h4><a ng-click="showForm = false">隐藏表单元数据:</a></h4>
		<pre>{{ form | json }}</pre>
	</div>
</div>
<div ng-include="template('fields')"  class="col-md-7"></div>