<h3>测试模式</h3>
<div style="width: 100%;height: 80px">
    <alert ng-show="alert" type="{{alert.type}}" close="alert=false">
        {{alert.msg}}
    </alert>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a ng-repeat="b in buckets" ng-click="show(b)" class="list-group-item"><span ng-bind="b"></span></a>
        </div>
    </div>
    <div class="col-md-9">
        <form>
            <textarea ng-repeat="b in buckets" id="{{b}}" style="visibility:hidden;"></textarea>
        </form>
    </div>
</div>