<!DOCTYPE html>
<html ng-app="myApp" lang="zh_CN">
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>iniu</title>
		<meta name="description" content="">
		<meta name="author" content="savage">

		<meta name="viewport" content="width=device-width; initial-scale=1.0">

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">

		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css"/>
		<link rel="stylesheet" href="/bower_components/spectrum/spectrum.css" />
		<link rel="stylesheet" href="/bower_components/angularjs-toaster/toaster.css" />
		<link rel="stylesheet" href="/bower_components/codemirror/lib/codemirror.css" />
		<link rel="stylesheet" href="/bower_components/codemirror/theme/twilight.css" />

		<script src="/bower_components/jquery/dist/jquery.js"></script>
		<script src="/bower_components/angular/angular.js"></script>
		<script src="/bower_components/angular-animate/angular-animate.js"></script>
		<script src="/bower_components/angular-route/angular-route.js"></script>
		<script src="/bower_components/angular-resource/angular-resource.js"></script>
		<script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
		<script src="/bower_components/angular-translate/angular-translate.js"></script>
		<script src="/bower_components/angular-i18n/angular-locale_zh-cn.js"></script>
		<script src="/bower_components/angular-ui-bootstrap/dist/ui-bootstrap-tpls-0.11.2.js"></script>
		<script src="/bower_components/angular-filter/dist/angular-filter.js"></script>
		<script src="/bower_components/angularjs-toaster/toaster.js"></script>
		<script src="/bower_components/spectrum/spectrum.js"></script>
		<script src="/bower_components/codemirror/lib/codemirror.js"></script>
		<script src="/bower_components/codemirror/mode/javascript/javascript.js"></script>
		<script src="/bower_components/codemirror/mode/xml/xml.js"></script>
		<script src="/bower_components/codemirror/mode/css/css.js"></script>
		<script src="/bower_components/codemirror/mode/htmlmixed/htmlmixed.js"></script>
		<script src="/bower_components/codemirror/mode/javascript/javascript.js"></script>
		<script src="/bower_components/string/lib/string.js"></script>

		<!-- 运行版 -->
		<!-- <script src="http://i.luck2.me/kind/themes/default.css"></script>
		<script src="http://i.luck2.me/kind/messenger.js"></script>
		<script src="http://i.luck2.me/kind/kindeditor.js"></script>
		<script src="http://i.luck2.me/kind/lang/zh_CN.js"></script> -->
		<!-- 运行版结束 -->

		<!-- 本地测试版 -->
		<link rel="stylesheet" href="/ke/themes/default/default.css" />
		<script src="/js/vendor-ke.min.js"></script>
		<script src="/ke/kindeditor.min.js"></script>
		<!-- 本地测试版结束 -->
	</head>

	<body>
		<div ng-controller="HeaderCtrl" class="navbar navbar-default navbar-fixed-top">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-3">
						<span class="sr-only">菜单</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="javascript:location.href='/'"><i class="fa fa-refresh"> </i> 首页</a>
				</div>
				<nav class="hidden-xs">
					<ul class="nav navbar-nav">
						<li ng-class="active(nav)" ng-repeat="nav in navs">
							<a href="#{{nav.when}}"><span ng-bind="nav.display"></span></a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Tables <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li ng-class="active(t)" ng-repeat="t in tables">
									<a href="#/table/{{t.Name}}"><span ng-bind="t.Title||t.Name"></span></a>
								</li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/logout">退出</a>
						</li>
					</ul>
				</nav>
				<nav class="visible-xs" collapse="!isCollapsed">
					<ul class="nav navbar-nav">
						<li ng-class="active(nav)" ng-repeat="nav in navs">
							<a ng-click="$parent.isCollapsed = !$parent.isCollapsed" href="#{{nav.when}}"><span ng-bind="nav.display"></span></a>
						</li>
						<li class="divider"></li>
						<li ng-class="active(t)" ng-repeat="t in tables">
							<a href="#/table/{{t.Name}}"><span ng-bind="t.Title||t.Name"></span></a>
						</li>
						<li>
							<a href="/logout">退出</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<div class="header-placeholder"></div>
		<toaster-container></toaster-container>

		<div class="container" ng-view></div>
		<footer class="container">
			<p>
				&copy; Copyright  by savage
			</p>
		</footer>
		<link rel="stylesheet" href="/css/main.css" />
		<script src="/js/l2m-tpl.min.js"></script>
		<script src="/js/app.min.js"></script>
	</body>
</html>
