<div class="form-group">
	<label><span ng-bind="field.Title"></span><span class="text-danger" ng-show="field.Required && !record[field.Name]">* 必填 </span>
		<p ng-if="!field.Readonly" class="input-group">
			<input
			datepicker-control
			datepicker-options="ops"
			datepicker-popup="{{format}}"
			name="{{field.Name}}"
			type="text"
			ng-model="record[field.Name]"
			class="form-control"
			is-open="opened"
			ng-required="field.Required"
			/>
			<span class="input-group-btn">
				<button type="button" class="btn btn-default"
				ng-click="$event.preventDefault();$event.stopPropagation();opened=true">
					<i class="glyphicon glyphicon-calendar"> </i>
				</button> </span>
		</p></label>
	<p ng-if="field.Readonly" ng-bind="record[field.Name] | data : 'fullDate'" class="form-control-static"></p>
</div>